
    <div class="sidebar-brand d-none d-md-flex">
      <i class="cis-house bg-warning"></i> 
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
      
      <li class="nav-item"><a class="nav-link" href="/actualite.html">
          <svg class="nav-icon">
            <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-newspaper"></use>
          </svg> Actualités</a>
        </li>
      <li class="nav-item"><a class="nav-link" href="/base_client.html">
          <svg class="nav-icon">
            <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
          </svg> Base clients</a>
        </li>
      <li class="nav-item"><a class="nav-link" href="/base_annonces.html">
          <svg class="nav-icon">
            <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-featured-playlist"></use>
          </svg> Base annonces</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/chat_et_appels.html">
            <svg class="nav-icon">
              <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-phone"></use>
            </svg> Chat et appels</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/calendrier.html">
            <svg class="nav-icon">
              <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
            </svg> Calendier</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/mes_ventes.html">
            <svg class="nav-icon">
              <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-cart"></use>
            </svg> 
            Mes ventes</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/centre_de_contact.html">
            <svg class="nav-icon">
              <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-contact"></use>
            </svg> Centre de contact</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/analityque.html">
            <svg class="nav-icon">
              <use xlink:href="/dist/vendors/@coreui/icons/svg/free.svg#cil-graph"></use>
            </svg>Analityque</a>
          </li>
    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
